<body>
    <div class="container">
      <h1>Recruiter Home Page</h1>
      <div class="menu">
        <table>
          <tr>
            <td class="menu-item">
              <a routerLink="/recruiter">
                <img src="assets/home.jpg" alt="Home Image">
                <span>Home</span>
              </a>

              
            </td>
            <td class="menu-item">
              <a routerLink="/recruiterprofile">
                <img src="assets/profile.jpg" alt="Profile Image">
                <span>Profile</span>
              </a>
            </td>
            <td class="menu-item">
              <a href="manage_jobs.html">
                <img src="assets/manage jobs.jpg" alt="Manage Jobs Image">
                <span>Post Jobs</span>
              </a>
            </td>
          </tr>
          <tr>
            <td class="menu-item">
              <a href="walkin.html">
                <img src="assets/walkin.jpg" alt="Walkin Image">
                <span> post Walkin</span>
              </a>
            </td>
            <td class="menu-item">
              <a href="applications.html">
                <img src="assets/applications.jpg" alt="Application Image">
                <span>Applicants</span>
              </a>
            </td>
            <td class="menu-item">
              <a routerLink="/home">
                <img src="assets/logout.jpg" alt="Logout Image">
                <span>Logout</span>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>