
<h2> WELCOME TO JOB PORTAL SYSTEM </h2>
<div class="name"> Welcome Satish</div>
<table border="5" align="center">
    <tr>
        <th>Name</th>
        <td><input type="text" name="name" required></td>
  
    </tr>

  <tr>
      <th>Company ID</th>
      <td><input type="text" name="ID" required></td>

  </tr>
  <tr>
      <th>Company Name</th>
      <td><input type="text" name="name" required></td>
      
      
  </tr>
  <tr>
      <th>Contact Number</th>
      <td><input type="text" name="Number" required></td>
      
     
  </tr>
  <tr>
      <th>Address</th>
      <td><input type="text" name="address" required></td>
     
    
  </tr>
  <tr>
      <th>City</th>
      <td><input type="text" name="city" required></td>
     
  </tr>
  <tr>
      <th>Email</th>
      <td><input type="text" name="emial" required></td>
  </tr>
  <tr>
      <th>Area of Work</th>
      <td><input type="text" name="work" required></td>
      
    
  </tr>
  <tr>
      <th>User Name</th>
      <td><input type="text" name="name" required></td>
      
  </tr>

</table>