<h2>SEARCH JOB</h2>
  <div class="container">
    <table>
        <tr>
            <td>Select Qualification  </td>
            <td> 
              <select name="Select Qualification" id="Select Qualification"> 
                <option value="Btech">BTech</option>
                <option value="Mtech">Mtech</option>
                <option value="MCA">MCA</option>
              </select>
            </td>
          </tr>
      <tbody>
        <tr>
            <td>Select Company Name  </td>
            <td> 
              <select name="Select Company Name " id="Select Company Name "> 
                <option value="Capgemini">Capgemini</option>
                <option value="Wipro">Wipro</option>
                <option value="Cyberinfomines">Cyberinfomines</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Select Area of Work  </td>
            <td> 
              <select name="Select Area of Work  " id="Select Area of Work  "> 
                <option value="Telangana">Telangana</option>
                <option value="Benguluru">Benguluru</option>
                <option value="Delhi">Delhi</option>
              </select>
            </td>
          </tr>
          
       
       
        
        <tr>
          <td class="placeholder">Upload Marksheet</td>
          <td>
            <form action="/Browse" method="search">
              <input type="Browse" value="Browse">
            </form>
          </td>
        </tr>
       
         
      </tbody>
    </table>
  </div>