<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Anjani Uma Poddutoori</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Address</td>
            <td>12-206,Aadarsh Nagar,Alair,Yadadri Bhongiri,Telangana</td>
        </tr>
        <tr>
            <td>City</td>
            <td>Alair</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>poddutoorianjaniuma@gmail.com</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>987654321</td>
        </tr>
        <tr>
            <td>Higher Qualification</td>
            <td>BTech</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Female</td>
        </tr>
        <tr>
            <td>DOB</td>
            <td>27/07/2003</td>
        </tr>
        <tr>
            <td>Resume</td>
            <td>View</td>
        </tr>
       
    </tbody>
</table>