<body>
    <h1>WELCOME TO JOB PORTAL SYSTEM</h1> 
     
     <div class="about-heading">
         <h2>About Us</h2>
     </div>
     <section>
         <div class="about-content">
             
 <table >
     <tr>
       <td>
         <p>Welcome to our online job portal. We provide opportunities for job seekers to find employment matching their capabilities. Job seekers can enroll themselves on our online platform and create profiles, including their educational information. They can browse various job listings and apply for positions.</p>
         <p>This portal is designed to cater to various employers who need to recruit employees for their organizations. Employers can register on our platform and upload information about job vacancies in their company. They can view job seeker applications and send call letters to potential candidates.</p>
       </td>
       </tr>
     
   </table>
