<body>
    <h1>WELCOME TO JOB PORTAL SYSTEM</h1> 
     
     <div class="about-heading">
         <h2>Latest News</h2>
     </div>
     <section>
         <div class="about-content">
             
 <table >
     <tr>
       <td>
        <article>
            <h3>Company X Announces New Job Openings</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget risus finibus, finibus risus nec, dictum mauris. Sed nec metus non tortor tincidunt laoreet. Cras euismod metus vel neque ullamcorper, et lobortis est aliquam.</p>
            <p><a href="#">Read more...</a></p>
        </article>
        
        <article>
            <h3>Job Fair Coming to Your City Next Week</h3>
            <p>Integer quis eros non purus sodales ultricies. Nulla facilisi. Nam fringilla nibh a risus eleifend, in convallis dui ultrices. Mauris et urna ut est tincidunt fermentum. Nam posuere magna ut arcu commodo lacinia.</p>
            <p><a href="#">Read more...</a></p>
        </article>
       </tr>
     
   </table>